<header class="menu-overlay bg-warning d-block d-lg-none vh-100 d-flex justify-content-center align-items-center" [ngClass]="{'active': show }">
  <div class="container">

    <div>
      <a href="" class="close text-white" (click)="hideNav()">x</a>
    </div>

    <nav class="navigation">
      <ul class="nav-list">
        <li class="mb-3">
          <a href="" class="text-dark">Profile</a>
        </li>
        <li class="mb-3">
          <a href="" class="text-dark">Orders</a>
        </li>
        <li class="mb-3">
          <a href="" class="text-dark">Offer and promo</a>
        </li>
        <li class="mb-3">
          <a href="" class="text-dark">Privacy policy</a>
        </li>
        <li>
          <a href="" class="text-dark">Security</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
