<div class="section py-4">
  <div class="container">
    <h4 class="mb-3">Index Page</h4>
    <ul>
      <li><a href="" routerLink="/modal">Modal</a></li>
      <li><a href="" routerLink="/accordion">Accordion</a></li>
      <li><a href="" routerLink="/owlcarousel">Owlcarousel</a></li>
      <li><a href="" routerLink="/ng5slider">ng5 Slider</a></li>
      <li><a href="" routerLink="/tabs">Tabs</a></li>
      <li><a href="" routerLink="/highchart">ng Highchart</a></li>
      <li><a href="" routerLink="/charts">Charts</a></li>
      <li><a href="" routerLink="/scrollbar">Scrollbar</a></li>
      <li><a href="" routerLink="/table">Responsive Table</a></li>
      <li><a href="" routerLink="/events">Angular Events</a></li>
      <li><a href="" routerLink="/style">Angular Style</a></li>
      <li><a href="" routerLink="/directives">Angular Directives</a></li>
      <li><a href="" routerLink="/pipes">Angular Pipes</a></li>
      <li><a href="" routerLink="/input-output-decorator">Angular @Input/@Output</a></li>
      <li><a href="" routerLink="/life-cycle-hooks">Angular LifeCycle Hooks</a></li>
      <li><a href="" routerLink="/todo-list">Todo List</a></li>
      <li><a href="" routerLink="/uxtrendz-exercise">UxTrendz Exercise</a></li>
      <li><a href="" routerLink="/http">HTTP</a></li>
      <li><a href="" routerLink="/subject">Subject</a></li>
    </ul>

  </div>
</div>